<div class="row" style="margin-left: 20px">
    <h1>Последние попытки</h1>
    <div class="col-md-7 col-xs-7" style="background: #fff">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Квест</th>
                <th>Юзер</th>
                <th>Вердикт</th>
                <th>Время</th>
            </tr>
            </thead>
            <tbody id="monitor-list-answers"></tbody>
        </table>
    </div>
    <div class="col-md-4 affix sidebar sidebar__white">
        <h1>Рейтинг</h1>
        <table class="table table-hover" id="table-rating">
            <thead>
            <tr>
                <th>Место</th>
                <th>Никнейм</th>
                <th>Рейтинг</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody id="monitor-user-rating">

            </tbody>
        </table>
    </div>
</div>


<script type="text/template" id="user-rating-template">
    <th scope="row" style="text-overflow: ellipsis;"><%- position %></th>
    <td><%- nick %></td>
    <td><%- rating %></td>
    <td style="text-align: right"> <button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-info-sign"></span></button></td>
</script>
<script type="text/template" id="list-answers-template">
    <th scope="row" style="text-overflow: ellipsis;"><%- quest.title %> (<%- quest.section %>)</th>
    <td><%= user.nick %></td>
    <td><% if(real_answer.toLowerCase() != user_answer.toLowerCase()) { %>
        <div class="row answer_block"><div class="col-md-6"><%- real_answer %></div><div class="col-md-6" style="max-width: 350px;"><%- user_answer %></div></div>
        <% } else { %>
        <%- user_answer %>
        <% } %>
    </td>
    <td><%= timeAgo(time) %></td>
</script>
