<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel"><%= title %> (<%= section.title %>)</h4>
</div>
<div class="modal-body">
    <div class="alert alert-success" style="<% if(!passed) { %>display: none; <% } %>" role="alert"><b>Поздравляем!</b> Квест сдан, теперь можете приступить к следующему</div>

    <div class="alert alert-danger" style="display: none;" role="alert">Ответ неверен</div>
    <p class="modal-score">Author: <%= author %></p>
    <p class="modal-score">Score: <%= score %></p>
    <p class="modal-text" style="word-break: break-all"><%= add_target(nl2br(full_text)) %></p>
    <div class="input-group <% if(passed) { %>has-success<% } %>">
        <input type="text" class="form-control" class="answer" id="answer">
        <span class="input-group-btn">
            <button class="btn btn-default answer <% if(passed) { %>btn-success<% } %>" id="<%= id %>" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>