<div class="row" style="margin-left: 20px">
<h1>Управление командами <button type="button" class="btn btn-sm btn-success glyphicon glyphicon-plus team-add" data-id=""></button></h1>
<div class="col-md-6 col-xs-6" style="background: #fff">
    <table class="table table-hover">
        <caption>В базе находится <span class="count_team"></span></caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Логотип</th>
            <th>Хост</th>
            <th>Рейтинг</th>
            <th style="text-align: right">Действия</th>
        </tr>
        </thead>
        <tbody id="team-list"></tbody>
    </table>
</div>
<div class="col-md-5 col-xs-5 col-md-offset-1 affix sidebar" id="team-form" style="right: 50px; top: 10px;"></div>
<div class="modalWindow"></div>

<script type="text/template" id="modal-template">
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Удалить команду?</h4>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить команду?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Я передумал</button>
                    <button type="button" class="btn btn-danger btn-submit" data-id="<%- teamId %>">Да, хочу</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="team-form-template">
    <h2><% if(nick=='') { %>Добавление<% } else { %>Редактирование<% } %> команды</h2>
    <div class="alert alert-danger form-message" role="alert" style="display:none">Произошла ошибка</div>
    <div class="row form-group">
        <div class="col-md-8">
            <label for="inputNick">Название</label>
            <input type="nick" class="form-control" id="inputNick" placeholder="Введите название" value="<%- nick %>">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label for="inputLogo">Логотип</label>
            <input type="logo" class="form-control" id="inputLogo" placeholder="Введите ссылку на логотип" value="<%- logo %>">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label for="inputHost">Хост</label>
            <input type="host" class="form-control" id="inputHost" placeholder="Введите адрес хоста" value="<%- host %>">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8">
            <label for="inputRating">Рейтинг</label>
            <input type="rating" class="form-control" id="inputRating" placeholder="Введите начальный рейтинг" value="<%- rating %>">
        </div>
    </div>
    <input type="hidden" id="inputType" value="<%- type %>" />
    <input type="hidden" id="inputId" value="<%- id %>" />
    <button type="button" class="btn btn-success"><% if(type=='add') { %>Добавить<% } else { %>Редактировать<% } %></button>
</script>

<script type="text/template" id="team-template">
    <th scope="row"><%- id %></th>
    <td><%- nick %></td>
    <td><%- logo %></td>
    <td><%- host %></td>
    <td><%- rating %></td>

    <td style="text-align: right">
        <button type="button" class="btn btn-info btn-sm edit-team" data-id="<%- id %>"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-danger btn-sm delete-team" data-id="<%- id %>"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
</script>
</div>